@font-face {
    font-family:"Poppins";
    src: url("../src/fonts/Poppinspoppins-boldsemibold.woff");
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family:"Poppins";
    src: url("../src/fonts/Poppinspoppins-semiboldmedium.woff");
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family:"Poppins";
    src: url("../src/fonts/Poppinsregular.woff");
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}